body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  image-rendering: pixelated;
  border: 4px solid white;
}

#minigameUI {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
}

.box {
  background: white;
  padding: 20px;
}

.hidden {
  display: none !important;
}
